;; audio.py will attempt to read this file and use these parameters instead of the
;; default parameters. Uncomment the lines below to specific these parameters.
;; To discover the input and output device options on your machine, run:
;; > python common/audio.py

[audio]
inputdevice = 1
outputdevice = 2
;buffersize = 512
;samplerate = 44100
